In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

IndentationError: expected an indented block after 'while' statement on line 2 (1196497928.py, line 3)

In [ ]:
fruits = "Apple","banana","cherry";
for x in fruits:
    print(x)

Apple
banana
cherry

In [9]:
type(fruits)

tuple

#break

In [10]:
fruits = "Apple","banana","cherry";
for x in fruits:
    print(x)
    if x == "banana":
        break

Apple
banana

In [12]:
fruits = "Apple","banana","cherry";
for x in fruits:
    if x == "banana":
        continue
    print(x)

Apple
cherry

In [14]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [17]:
for x in range(2,20,3):
    print(x)

2
5
8
11
14
17

In [20]:
for x in range(6):
    print(x)
else:
    print("Final")

0
1
2
3
4
5
Final

#Nested Loop

In [21]:
a= ["A","B","C"]
fruits = ["Apple","banana","cherry"]
for x in a:
    for y in fruits:
        print(x,y)

A Apple
A banana
A cherry
B Apple
B banana
B cherry
C Apple
C banana
C cherry

In [22]:
for x in [0,1,2,3]:
    pass

#list

In [1]:
list1=["Rohan",1,3]
list1

['Rohan', 1, 3]

In [2]:
list1=["rohan",1,3,"apple","Apple"]
list1

['rohan', 1, 3, 'apple', 'Apple']

In [3]:
print(len(list1))

5

In [4]:
#list() constructor
list2=list(("rohan",1,3,"apple","apple"))
list2

['rohan', 1, 3, 'apple', 'apple']

#access in list

In [8]:
list1=["rohan",1,3,"rohan","apple","Apple"]
print(list1[1]);

1

#negative indexing

In [9]:
list1=["rohan",1,3,"rohan","apple","Apple"]
print(list1[-1]);

Apple

#range of indexes

In [10]:
list1=["rohan",1,3,"rohan","apple","Apple"]
print(list1[2:5]);

[3, 'rohan', 'apple']

In [11]:
list1=["rohan",1,3,"rohan","apple","Apple"]
print(list1[-4:-1])

[3, 'rohan', 'apple']

#check if item exists

In [13]:
list1=["rohan",1,3,"rohan","apple","Apple"]
if "apple" in list1:
    print("yes")

yes

#change last item

In [14]:
list1=["rohan",1,3,"rohan","apple","Apple"]
list1[0]="lakshay"
print(list1)

['lakshay', 1, 3, 'rohan', 'apple', 'Apple']

In [17]:
list1=["rohan",1,3,"rohan","apple","Apple"]
list1[1:3]=['Aman','Ankit','Anshul']
print(list1)

['rohan', 'Aman', 'Ankit', 'Anshul', 'rohan', 'apple', 'Apple']

#append

In [19]:
list1.append("world")
list1

['rohan', 'Aman', 'Ankit', 'Anshul', 'rohan', 'apple', 'Apple', 'world']

#extend list

In [22]:
list2=["hello","everyone"]
list1.extend(list2)
list1

[1, 3, 'rohan', 'apple', 'Apple', 'hello', 'everyone', 'hello', 'everyone']

#remove

In [20]:
list1=["rohan",1,3,"rohan","apple","Apple"]
list1.remove("rohan")
list1

[1, 3, 'rohan', 'apple', 'Apple']

In [23]:
list1=["rohan",1,3,"rohan","apple","Apple"]
list1.pop(1)

1

In [24]:
list1

['rohan', 3, 'rohan', 'apple', 'Apple']

In [2]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'ORANGE', 'KIWI']

In [3]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi"]
newlist = [x.capitalize() for x in fruits]
print(newlist)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi']

In [6]:
list1=['apple','banana','cherry']
list1.reverse()
print(list1)

['cherry', 'banana', 'apple']

#copy

In [1]:
a=['apple','banana','cherry']
mylist=a.copy()
mylist

['apple', 'banana', 'cherry']

In [2]:
a=['apple','banana','cherry']
mylist=list(a)
mylist

['apple', 'banana', 'cherry']

In [ ]:
a=['apple','banana','cherry']
mylist=a(;)
print(mylist)

['apple', 'banana', 'cherry']

#join 2 lists

In [6]:
lis1=['a','b','c']
list2=[1,2,3]
list3=lis1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [8]:
list1=['a','b','c']
list2=[1,2,3]
for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

#extend

In [9]:
list1=['a','b','c']
list2=[1,2,3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

#TUPPLES