In [4]:
i=1
while i<6:
print(i)
    print(i)
i+=1

IndentationError: expected an indented block after 'while' statement on line 2 (1196497928.py, line 3)

In [ ]:
fruits = "Apple","banana","cherry";
for x in fruits:
    print(x)

Apple
banana
cherry

In [9]:
type(fruits)

tuple

#break

In [10]:
fruits = "Apple","banana","cherry";
for x in fruits:
    print(x)
    if x == "banana":
        break

Apple
banana

In [12]:
fruits = "Apple","banana","cherry";
for x in fruits:
    if x == "banana":
        continue
    print(x)

Apple
cherry

In [14]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [17]:
for x in range(2,20,3):
    print(x)

2
5
8
11
14
17

In [20]:
for x in range(6):
    print(x)
else:
    print("Final")

0
1
2
3
4
5
Final

#Nested Loop

In [21]:
a= ["A","B","C"]
fruits = ["Apple","banana","cherry"]
for x in a:
    for y in fruits:
        print(x,y)

A Apple
A banana
A cherry
B Apple
B banana
B cherry
C Apple
C banana
C cherry

In [22]:
for x in [0,1,2,3]:
    pass